body{
  font-family: 'Germania One', cursive;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card{
  background-color: beige;
  padding: 1em 2em;
  box-shadow: 5px 5px 30px peru;
  margin-bottom: 2em;
  text-align: center;
  border-radius: 5px; 
}

.card h1 {
  text-align: center;
}

button{
  background-color:lightblue;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 3px 8px;
  margin: 4px 6px;
  font-size: 1em;
}

button:hover{
  cursor: pointer;
  background-color: purple;
}

input{
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
}